{% extends 'layout/default.twig' %}

{% block isi %}
    <div class="list-group">
    	{% for x in data %}
    	    <a href="{{ site_url() }}{{ x.id }}" class="list-group-item hasil-pencarian-item">{{ x.judul }}<span class="sembunyi">{{ x.isi }}</span></a>
    	{% endfor %}
    </div>
{% endblock %}

{% block bawah %}
    <div class="navbar navbar-default navbar-fixed-bottom">
    	<div class="container">
    		<div class="navbar-header">
    			<table class="table table-bordered">
    				<tbody>
    					<tr>
    						<td>
								<div class="input-group">
									<input type="text" class="form-control cari" placeholder="Cari apa?">
									<div class="input-group-addon hapus">x</div>
								</div>
							</td>
    						<td><a href="{{ site_url() }}tambah" class="btn btn-default">Tambah</a></td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block head %}
    <style>
		body {
			padding-bottom: 50px;
		}

        .hapus {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block skrip %}
    <script type="text/javascript">
        $('.cari').on('keyup', function(){
            if ($('.cari').val() != ''){
                $('.hasil-pencarian-item').addClass('sembunyi')
                $('.hasil-pencarian-item').each(function(){
                    if ($(this).is(":contains(" + $('.cari').val() + ")")) {
                        $(this).removeClass('sembunyi')
                    }
                })
            } else {
                $('.hasil-pencarian-item').removeClass('sembunyi')
            }
        })

        $('.hapus').each(function(){
            $(this).click(function(){
                $(this).parent().find('.form-control').val('')
                $('.hasil-pencarian-item').removeClass('sembunyi')
            })
        })
    </script>
{% endblock %}