{% extends 'layout/default.twig' %}

{% block isi %}
    <h3>{{ data.judul }}</h3>
    <p>{{ data.isi }}</p>
    <p>{{ data.tanggal }}</p>
{% endblock %}

{% block bawah %}
    <div class="navbar navbar-default navbar-fixed-bottom">
    	<div class="container">
    		<div class="navbar-header">
    			<table class="table table-bordered">
    				<tbody>
    					<tr>
                            <td><a href="{{ site_url() }}tambah" class="btn btn-default">Tambah</a></td>
    						<td><a href="{{ site_url() }}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{{ site_url() }}" class="btn btn-danger">Hapus</a></td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block head %}
    <style>
		body {
			padding-bottom: 50px;
		}

        h3 {
            margin-top: 0;
        }
    </style>
{% endblock %}